<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registre-se</title>
</head>

<body>
    <div class="main">
        <div class="left-login">
            <h1>Bem vindo<br>Faça o seu cadastro</h1>
            <img src="img/office.svg" alt="Escritorio" class="left-login-image">
        </div>
        <form method="post">
            <div class="right-login">
                <div class="card-login">
                    <h1>REGISTRE-SE</h1>
                    <div class="textfield">
                        <label for="name">Usuário</label>
                        <input type="text" name="name" placeholder="Usuário">
                    </div>
                    <div class="textfield">
                        <label for="password">Senha</label>
                        <input type="password" name="password" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn-login">Registre-se</button>
                    <a href="/login" class="create-user">Login <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </form>

    </div>
</body>

</html>