<!-- Include header -->
<%- include('include/_header')%>
    <!-- /Include header -->
    <main id="site-main">
        <div class="container">
            <div class="user-block">
                <a href="/add-user" class="add-user">
                    <span class="new-user gradient">Novo Usuário <i class="fa-solid fa-user"></i></span>
                </a>
            </div>
            <!-- Form -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Gênero</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show')%>
                    </tbody>
                </table>
            </form>
            <%=JSON.stringify(index[0].name)%>
        </div>
    </main>

    <!-- Include footer -->
    <%- include('include/_footer')%>
        <!-- /Include footer -->