<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>CRUD app</title>
</head>

<body>
    <div class="main">
        <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">Sistema de gestão de usuarios</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Header -->

        <!-- Main site -->
        <main id="site-main">
            <div class="container">
                <div class="user-block">
                    <a href="/add-user" class="add-user">
                        <span class="new-user">New User</span>
                    </a>
                </div>

            </div>

        </main>
        <!-- /Main site -->
    </div>


</body>

</html>