<tr>
    <td>1</td>
    <td>username</td>
    <td>example@email.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="#" class="btn-uptade btn">
            <span class="gradient"> <i class="fas fa-pencil alt"></i></span>
        </a>
        <a class="btn-delete btn">
            <span class="gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>